#Minecraft server properties
#Tue Sep 13 22:33:57 CEST 2016
max-tick-time=60000
generator-settings=
allow-nether=true
force-gamemode=false
gamemode={{ item.game_mode }}
enable-query=false
player-idle-timeout=0
difficulty=1
spawn-monsters=true
op-permission-level=4
announce-player-achievements=true
pvp={{ item.pvp }}
snooper-enabled=true
level-type=DEFAULT
hardcore=false
enable-command-block=false
max-players={{ item.max_players }}
network-compression-threshold=256
resource-pack-sha1=
max-world-size=29999984
server-port={{ item.server_port }}
server-ip=
spawn-npcs=true
allow-flight=false
level-name={{ item.level_name }}
view-distance=10
resource-pack=
spawn-animals=true
white-list={{ item.white_list }}
generate-structures=true
online-mode=true
max-build-height=256
level-seed=
use-native-transport=true
motd={{ item.motd }}
enable-rcon=false
